*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

:root {
    --font-family: "Fira Sans Condensed", sans-serif;
    --second-family: "Oswald", sans-serif;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    background-color: #1b1919;
    font-size: 18px;
    font-family: var(--font-family);
    color: #fff;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.page {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

fieldset {
    min-width: 226px;
    border: none;
}

.search-form__fieldset-title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
}

.search-form__pseudo-checkbox {
    position: relative;
    width: 19px;
    height: 19px;
    margin-right: 6px;
    cursor: pointer;
    border: 1px solid #fff;
}

.search-form__pseudo-checkbox::before {
    content: "";
    display: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 1px;
}

.search-form__checkbox.visually-hidden:checked + .search-form__pseudo-checkbox::before{
    display: block;
}

.search-form__checkbox-list {
    display: inline-flex;
}

.search-form__label {
    display: inline-flex;
    width: 100%;
    padding: 2px;
    border: 1px solid transparent;
    align-items: center;
}

.search-form__label:hover {
    cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}

.search-form__label:focus {
    outline: none;
} 

.search-form__label:focus-visible {
    outline: none;
    border: 1px solid #fff;
} 

.search-form__label:not(:last-child) {
    margin-right: 15px;
}

input[name="city"] {
    margin: 2px;
    border-top: 1px solid #fff;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-left: 1px solid transparent;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

input[name="city"]:hover {
    cursor: text;
}

input[name="city"]:active {
    border: 1px solid #fff;
}

.search-form__textfield {
    appearance: none;
    flex-grow: 1;
    padding: 2px 0;
    background-color: transparent;
    border: none;
}

.search-form__textfield:focus {
    outline: none;
}

input[name="city"]:active {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.search-form__textfield:has(:focus-visible) {
    outline: auto;
}

.search-form__textfield::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:hover {
    cursor: pointer;
}

.button {
    max-height: 34px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.button:hover {
    background: #545050;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
    border: 1px solid #fff;
}

.search-form__submit-button {
    min-width: 194px;
}

.more-button {
    width: 100%;
}

.visually-hidden {
    inline-size: 1px;
    block-size: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
} 

.result {
    flex: 0 0 711px;
    width: 711px;
    margin-top: 82px;
}

.result__video {
    object-fit: cover;
    width: auto;
    min-width: 100%;
    height: 382px;
    min-height: auto;
}

.result__video:hover {
    cursor: pointer;
}

.result__video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 16px;
}

.content__details {
    flex-grow: 1;
    margin-top: auto;
}

.title {
    margin-bottom: 26px;
}

.content__list {
    position: relative;
    overflow-y: auto;
    max-height: 298px;
}

.content__list-item:hover .content__video-card-description-container {
    text-decoration: underline;
}

.content__list-item:not(:last-child) {
    margin-bottom: 30px;
}

.content__card-link {
    display: block;
    margin: 2px;
    color: #fff;
    text-decoration: none;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
}

.content__card-link_current {
    background: #545050;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.content__video-card:active {
    background: #545050;
}

.content__video-card-description-container {
    flex-grow: 1;
    padding: 2px 5px;
}

.content__video-card-title {
    margin-bottom: 6px;
    font-size: 30px;
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.content__video-card-description {
    line-height: 0.9;
}

.content__video-card-thumbnail {
    object-fit: cover;
    flex: 0 0 194px;
    width: 194px;
    max-height: 103px;
}

.title {
    font-size: 75px;
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 0.94;
    color: #fff;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

